<template>
    <require from="../../converters/dateformat"></require>
    <div class="top-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="add-new-button">
                    <button class="btn btn-primary" click.trigger="newGame()">
                        New game
                    </button>
                </div>                
            </div>
        </div>
        <div class="games_container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group" if.bind="filteredGames">
                        <li class="list-group-item" 
                            repeat.for="game of filteredGames" 
                            click.trigger="selectGame(game)">
                            <div class="row">
                                <div class="col-sm-2">
                                    ${game.name}
                                </div>
                                <div class="col-sm-4">
                                    <b>Players: </b> ${game.players.join(', ')}
                                </div>
                                <div class="col-sm-2">
                                    <b if.bind="game.winner">${game.winner} won!</b>
                                </div>
                                <div class="col-sm-2">
                                    ${game.dateFinished | dateFormat}
                                </div>                                
                                <div class="col-sm-2">
                                    <b class="${game.status === 'Finished' ? 'game-finished' : game.status === 'AwaitingPlayers' ? 'game-pending' : 'game-inprogress'}">${game.statusString}</b>
                                    <span if.bind="game.status === 'InProgress'" class="glyphicon glyphicon-cog rotating"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="row text-center" if.bind="filteredGames.length === 0">
                        <h2 class="no-data">No data...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>