<template>
    <require from="../../converters/timeformat"></require>
    <div class="top-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        ${game.name}
                    </div>
                    <div class="col-sm-4">
                        <b>Players: </b> ${game.players.join(', ')}
                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-2">
                        <b class="${game.status === 'Finished' ? 'game-finished' : game.status === 'Pending Decision' ? 'game-pending' : 'game-inprogress'}">${game.status}</b>
                    </div>
                </div>
            </div>
        </div>    

        <div class="panel ${round.headerClass}" repeat.for="round of game.rounds">
            <div class="panel-heading">
                Round ${$index+1}
                <span if.bind="!round.timePlayed && round.startDate" class="glyphicon glyphicon-cog rotating"></span>      
            </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn btn-primary" click.trigger="startRound($index)"
                                    disabled.bind="!round.enableStartControl">
                                ${round.startButtonCaption}
                            </button>                      
                        </div>
                        <div class="col-sm-3">
                            <b>Started:</b> ${round.startDate | timeFormat} 
                        </div>
                        <div class="col-sm-3">
                            <b>Total time:</b> ${round.timePlayed}
                        </div>                  
                        <div class="col-sm-4" if.bind="round.displayFinishControl">
                            <div class="dropdown" if.bind="!round.winner">
                                <button class="btn btn-default dropdown-toggle select-control" 
                                        type="button" 
                                        id="${property}_input" 
                                        data-toggle="dropdown"
                                        disabled.bind="!round.enableFinishControl">
                                    Select<span class="caret select-contol__caret"></span>
                                </button>
                                <ul class="dropdown-menu select-control" role="menu" aria-labelledby="menu1">
                                    <li role="presentation" repeat.for="player of game.players">
                                        <a role="menuitem" tabindex="-1" href="#" click.trigger="finishRound(game.rounds.indexOf(round), player)">${player}</a>
                                    </li>
                                </ul>
                            </div>                           
                            <div if.bind="round.winner">
                                <h4>${round.winner} won!</h4>
                            </div>
                        </div>
                    </div>
                </div>
        </div>        
    </div>
</template>