<template>
    <div class="top-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cancel-button">
                    <button class="btn btn-primary" click.trigger="cancel()">Cancel</button>
                </div>
                <div class="save-button">
                    <button class="btn btn-primary" click.trigger="save()">Save</button>
                </div>
            </div>
        </div>        
        <div class="row error-div">
            <div class="col-sm-12">
                <div class="alert alert-danger" if.bind="errors" 
                    repeat.for="error of errors">
                    <p>${error}</p>
                </div>
            </div>
        </div>        
        <div class="row">
            <select-control
                label="Template"
                entity-id.two-way="templateId"
                required.bind="true"
                property="template"
                items.bind="templates">
            </select-control>
        </div>
        <div class="row">
            <label-control
             label="Players count"
             value.bind="playersCountDesc">
            </label-control>
        </div>
        <div class="row">
            <label-control
             label="Rounds"
             value.bind="roundsDesc">
            </label-control>
        </div> 
        <div class="row">
            <label-control
             label="Description"
             value.bind="gameDesc">
            </label-control>
        </div>                
        <div class="row">
            <multi-select-control
                label="Invite players"
                required.bind="true"
                property="players"
                disabled.bind="!isTemplateSelected"
                min.bind="selectedTemplate.minPlayers-1"
                max.bind="selectedTemplate.maxPlayers-1"
                items.bind="users">
            </multi-select-control>            
        </div>        
    </div>
</template>