<template>
  <ai-dialog>
    <ai-dialog-body>
      <h2>Notification</h2>
      <h4>${notification.message}</h4>
    </ai-dialog-body>

    <ai-dialog-footer>
      <div class="row notification-button_dialog">
        <button class="btn btn-success" click.trigger="accept()">
                    Accept
        </button>
        <button class="btn btn-danger" click.trigger="decline()">
                    Decline
        </button>
      </div>
    </ai-dialog-footer>
  </ai-dialog>
</template>