<template>
  <ai-dialog>
    <ai-dialog-body>
      <h2>Confirmation</h2>
      <h4>${message}</h4>
    </ai-dialog-body>

    <ai-dialog-footer>
        <button click.trigger="controller.cancel()">No</button>
        <button click.trigger="controller.ok(person)">Yes</button>
    </ai-dialog-footer>
  </ai-dialog>
</template>