<template>
    <div class="form-group" id="${property}_form_group">
      <div class="col-sm-3">
        <label class="control-label" id="${property}_label" 
              for="inputError">
            ${label}
        </label>
        <div id="${property}_messages"></div>
      </div>
      <div class="col-sm-9">
        ${value}
      </div>
    </div>
</template>