<template>
    <div class="form-group" id="${property}_form_group">
      <div class="col-sm-3">
        <label class="control-label" id="${property}_label" 
              for="inputError">
            ${label}
            <span class="red-font" if.bind="required">*</span>
        </label>
        <div id="${property}_messages"></div>
      </div>
      <div class="col-sm-9">
        <input type="text" disabled.bind="disabled" class="form-control" value.two-way="value" id="${property}_input">
      </div>
    </div>
</template>