<template>
    <require from="../../converters/dateformat"></require>
    <div class="top-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="notifications_refresh_button">
                    <button class="btn btn-default" click.trigger="getNotifications()">
                        <span if.bind="!fetching" class="glyphicon glyphicon-repeat"></span>
                        <i if.bind="fetching" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group" if.bind="notifications">
                    <li class="list-group-item" repeat.for="notification of notifications">
                        <div class="row notification-group__header" click.trigger="open(notification)">
                            <div class="col-sm-12">
                               <b> ${notification.message}</b>
                            </div>
                        </div>
                        <div class="row notification-group" if.bind="notification.expand">
                            <div class="col-sm-12">
                                <compose if.bind="notification.messageType === 'JoinGame'" view="./sub-views/join-game.html"></compose>
                                <compose if.bind="notification.messageType === 'StartRound'" view="./sub-views/start-round.html"></compose>
                                <compose if.bind="notification.messageType === 'FinishRound'" view="./sub-views/finish-round.html"></compose>
                            </div>
                        </div>                        
                    </li>
                </ul>
                <div class="row text-center" if.bind="notifications.length === 0">
                    <h2 class="no-data">No data...</h2>
                </div>
            </div>
        </div>
    </div>
</template>