<template>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="inputError">${label}</label>
      <div class="col-sm-9">
        <textarea type="textarea" disabled.bind="disabled" 
                  class="form-control" value.two-way="value" 
                  id="${property}_input">
      </div>
    </div>    
</template>