<template>
    <div class="top-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="add-new-button">
                    <button class="btn btn-primary" click.trigger="add()">New</button>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="..." 
                        aria-describedby="basic-addon2" value.bind="keyword">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>                
                </div>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action"
                        repeat.for="template of filteredTemplates"
                        click.trigger="edit(template._id)">
                        ${template.name}
                    </a>
                </div>        
                <div class="row text-center" if.bind="filteredTemplates.length === 0">
                    <h2 class="no-data">No data...</h2>
                </div>
            </div>
        </div>
    </div>
</template>