<template>
    <div class="top-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cancel-button">
                    <button class="btn btn-primary" click.trigger="cancel()">Cancel</button>
                </div>
                <div class="save-button" if.bind="canEdit">
                    <button class="btn btn-primary" click.trigger="save()">Save</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row error-div">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" if.bind="errors" 
                                repeat.for="error of errors">
                            <p>${error}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <text-control
                        label="Name"
                        value.two-way="template.name"
                        required.bind="true"
                        disabled.bind="!canEdit"
                        max-length="50"
                        property="name">
                    </text-control>
                </div>        
                <div class="row">
                    <text-area-control
                        label="Description"
                        value.two-way="template.description"
                        disabled.bind="!canEdit"
                        property="description">
                    </text-area-control>
                </div>                                        
                <div class="row">
                    <text-control
                        disabled.bind="true"
                        label="Created by"
                        value.two-way="template.createdBy"
                        property="createdBy">
                    </text-control>
                </div>                        
                <div class="row">
                    <number-control
                        min="1";
                        max.two-way="template.maxPlayers";
                        required.bind="true"
                        label="Min players"
                        disabled.bind="!canEdit"
                        value.two-way="template.minPlayers"
                        property="minPlayers">
                    </number-control>
                </div>                      
                <div class="row">
                    <number-control
                        min.two-way="template.minPlayers";
                        max="20";
                        required.bind="true"
                        label="Max players"
                        disabled.bind="!canEdit"
                        value.two-way="template.maxPlayers"
                        property="maxPlayers">
                    </number-control>
                </div>                                                        
                <div class="row">
                    <number-control
                        min.two-way="template.roundsToWin";
                        max="20";
                        required.bind="true"
                        label="Rounds"
                        disabled.bind="!canEdit"
                        value.two-way="template.rounds"
                        property="rounds">
                    </number-control>
                </div>   
                <div class="row">
                    <number-control
                        max.two-way="template.rounds";
                        label="Rounds to win"
                        disabled.bind="!canEdit"
                        value.two-way="template.roundsToWin"
                        property="roundsToWin">
                    </number-control>
                </div>                                                                                        
            </div>
        </div>    
    </div>
</template>