<template>
    <div class="row notification-button">
        <button class="btn btn-success" click.trigger="accept(notification)">
                    Accept
        </button>
        <button class="btn btn-danger" click.trigger="decline()">
                    Decline
        </button>
    </div>
</template>