<template>
    <div class="form-group" id="${property}_form_group">
      <div class="col-sm-3">
        <label class="control-label" id="${property}_label" 
              for="inputError">
            ${label}
            <span class="red-font" if.bind="required">*</span>
        </label>
        <div id="${property}_messages"></div>
      </div>
      <div class="col-sm-9">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle select-control" 
                    type="button" 
                    id="${property}_input" 
                    data-toggle="dropdown"
                    disabled.bind="disabled">
                ${value}<span class="caret select-contol__caret"></span>
            </button>
            <ul class="dropdown-menu select-control" role="menu" aria-labelledby="menu1">
                <li role="presentation" repeat.for="item of items">
                    <a role="menuitem" tabindex="-1" href="#" click.trigger="select(item)">${item.value}</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
</template>