<template>
   <div class="top-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cancel-button">
                    <button class="btn btn-primary" click.trigger="cancel()">Cancel</button>
                </div>
                <div class="save-button">
                    <button class="btn btn-primary" click.trigger="save()">Save</button>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label><input type="checkbox" checked.two-way="system.canCreate">Allow creating new users</label>
                </div>            
            </div>
        </div>
   </div>
</template>