<template>
    <div class="welcome-container">
        <div class="text-center">
            <h2>
                challenger node
            </h2>
        </div>
    </div>
    <div class="top-container">

        <button class="btn btn-primary welcome-login-button" click.trigger="toLogin()">
                    Login
            </button>
        <div class="welcome-info">
            <p class="welcome-top-info">
                A web app that helps you keep track of your game scores. 
            </p>
            <p class="bullet-point">
                <span class="glyphicon glyphicon-star"></span>
                Get statistics when you play board or sport games with friends.
            </p>
            <p class="bullet-point">
                <span class="glyphicon glyphicon-star"></span>            
                Know what your rating is among your friends.
            </p> 
            <p class="bullet-point">
                <span class="glyphicon glyphicon-star"></span>            
                Track how long it takes to play a game.
            </p>
            <p class="bullet-point">
                <span class="glyphicon glyphicon-star"></span>            
                Define your own rules or use what is out there already.
            </p>            
        </div>
    </div>
</template>