<template>
  <compose view="./nav-bar.html" if.bind="router.currentInstruction.config.route!=='login' && 
  router.currentInstruction.config.route!==''"></compose>
  <div class="page-host">
    <router-view></router-view>
  </div>
</template>
