<template>
  <require from="./converters/roundformat"></require>
  <section class="au-animate">
    <div class="top-container">
      <h2>${heading} ${user.username}</h2>
      <button class="btn btn-default"  click.delegate="createNewGame()">New game</button>
      <div class="stats__container">
        <div class="panel panel-default"  repeat.for="template of stat.templates">
          <div class="panel-heading"><b>${template.templateName}</b></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <b>Games won: </b>
                  </div>            
                  <div class="col-sm-9">
                    ${template.wonCount} out of ${template.wonCount + template.lostCount}
                  </div>                        
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <b>Game win rate: </b>
                  </div>                        
                  <div class="col-sm-9">
                    ${template.percentage*100 | roundFormat}%
                  </div>                                    
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <b>Rounds won: </b>
                  </div>                        
                  <div class="col-sm-9">
                    ${template.roundsWon} out of ${template.roundsLost + template.roundsWon}
                  </div>                        
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </section>
</template>
