<template>
  <div class="login__container" if.bind="!canCreate">
    <div class="row login__row">
      <h3>Please login</h3>
      <h5>Welcome to challenger node</h5>
      <div class="alert alert-danger" if.bind="errorMessage">
        ${errorMessage}
      </div>
    </div>
    <div class="row login__row">
      <input type="text" class="form-control input-sm mousetrap" placeholder="Username" value.bind="user.username" />
    </div>
    <div class="row login__row">
      <input type="password" class="form-control input-sm mousetrap" placeholder="Password" value.bind="user.password" />
    </div>
    <div class="row login__row">
      <button class="btn btn-primary btn-md login__submit-button" id="loginButton" click.trigger="submitLogin()">Login</button>
      <button class="btn btn-primary btn-md login__submit-button create-new-account-button" 
              if.bind="bindCreateNew"
              click.trigger="createNew()">
              Create new account
      </button>
    </div>
  </div>

  <div class="login__container" if.bind="canCreate">
    <div class="row login__row">
      <h3>Please create a new account</h3>
      <h5>Welcome to challenger node</h5>
      <div class="alert alert-danger" if.bind="errorMessage">
        ${errorMessage}
      </div>      
    </div>
    <div class="row login__row">
      <input type="text" class="form-control input-sm" placeholder="Username" value.bind="user.username" />
    </div>
    <div class="row login__row">
      <input type="password" class="form-control input-sm" placeholder="Password" value.bind="user.password" />
    </div>
    <div class="row login__row">
      <input type="password" class="form-control input-sm" placeholder="Confirm Password" value.bind="confirmPassword" />
    </div>
    <div class="row login__row">
      <button class="btn btn-primary btn-md login__submit-button" click.trigger="save()">Save</button>
      <button class="btn btn-primary btn-md login__submit-button create-new-account-button" 
              click.trigger="back()">
              Back
      </button>
    </div>    
  </div>
</template>
