body {
  margin: 0;
}

ai-dialog-overlay.active {
  background-color:rgba(0, 0, 0, 0.5);
}

@media (min-width: 1400px) {
  .top-container {
    padding: 1em 25em 1em 25em;
  }

  .navbar-header-custom {
    padding: 0 25em 0 25em;
  }    
}

@media (min-width: 1300px) and (max-width:1400px) {
  .top-container {
    padding: 1em 20em 1em 20em;
  }

  .navbar-header-custom {
    padding: 0 20em 0 20em;
  }  
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .top-container {
    padding: 1em 15em 1em 15em;
  }

  .navbar-header-custom {
    padding: 0 15em 0 15em;
  }  
}

@media (min-width: 900px) and (max-width: 1000px) {
  .top-container {
    padding: 1em 10em 1em 10em;
  }

  .navbar-header-custom {
    padding: 0 10em 0 10em;
  }  
}

@media (min-width: 768px) and (max-width: 900px) {
  .top-container {
    padding: 1em 5em 1em 5em;
  }

  .navbar-header-custom {
    padding: 0 5em 0 5em;
  }
}

@media (min-width: 371px) and (max-width: 768px) {
  .top-container {
    padding: 1em;
  }
}

@media (max-width: 371px) {
  .top-container {
    padding: 1em;
  }
}

.stats__container {
  padding-top: 1em;
}

.notification-group {
  padding-top: 1em;
}

.notification-group__header {
  cursor: pointer;
}

.notification-button {
  padding-top: 1em;
  padding-left: 1em;
}

.notification-button_dialog {
  padding-right: 1em;
}

.error-div {
  padding-top: 1em;
}

.no-data {
  color: lightgrey;
}

.delete-button {
  padding-top: 1em;
  float: right;
}

.add-new-button {
  float: right;
}

.select-control {
  width: 100%;
}

.select-contol__caret {
  float: right;
  margin-top: 0.5em;
}

.multi-select__item {
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
}

.multi-select__item-remove {
  padding-left: 1em;
}

.save-button {
  float: right;
  padding-right: 1em;
}

.cancel-button {
  float: right;
}

.red-font {
  color: darkred;
}

.admin {
  padding: 1em;
}

.create-new-account-button {
  float:left !important;
}

.login__submit-button {
  float: right;
}

.login__container {
  margin: auto;
  width: 20em;
}

.login__row {
  padding-bottom: 1em;
}

.game-finished {
  color: darkblue;
}

.game-inprogress {
  color: green;
}

.game-pending {
  color: darkorange;
}

.games_container {
  padding-top: 1em;
}

.games {
  padding-top: 1em;
  padding-left: 1em;
}

.games__label {
  padding-top: 0.5em;
}

.games__row {
  padding-top: 0.5em;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* rotation animation begins */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}

/* rotation animation ends */

/* welcome page begins */

.welcome-login-button {
  float: right;
}

.welcome-background {
  position: absolute;
  height: 100%;
  background-size: 100% 100%;
  opacity: .2;
  background-repeat: no-repeat;
  background-image: url('../assets/welcome-background.png');
}

.welcome-logo {
  width: 10em;
  height: 5em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('../assets/welcome-logo.png');
}

/* welcome page ends */

/* logo begins */
.logo {
  margin: 0 auto;
}

.logo-segment-bottom {
  width: 10em;
  float: left;
  height: 4em;
}

.diagonal-top-left-to-bottom-right {
  width: 100%;
  height: 100%;
  background: 
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='0' x2='100%' y2='100%' stroke='#5AB1BB' stroke-width='2'/></svg>") no-repeat;
}

.diagonal-bottom-left-to-top-right {
  width: 100%;
  height: 100%;
  background: 
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='100%' y2='0' stroke='#5AB1BB' stroke-width='2'/></svg>") no-repeat;
}

/* logo ends */

.welcome-container {
    background: lightgrey;
    width: 100%;
    z-index: -1;
    padding: 3em;
    position: absolute;  
}

.welcome-container > div > h2 {
  font-size: 3em;
  color: black;
  text-transform: uppercase;
}

.welcome-info {
  padding-top: 10em;
  font-size: 1.5em;
}

.bullet-point:before {
 padding-left: 1em;
}

.notifications_refresh_button {
  float: right;
  padding-bottom: 1em;
}
